@media(min-width:768px) {
    .news-input{
        width:50%;
    }
}
.hover-effect:hover {
    color: #ff5733; /* Change link color on hover */
    text-decoration: underline;
    transition: 0.5s ease-in;
     /* Add underline on hover */
  }
  .hover-bg:hover {
  background-color :rgba(255,193,7);
  color: black;
  font-weight: bolder;
  text-transform: capitalize;
  border-radius: 3px;
  
    
   
  }
  .hover-border:hover {
    border-bottom: 3px solid rgba(255,193,7);
    padding-bottom: 2px;
  }
  .hover-transform:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
 .active-bg:active{
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  transition: 0.5s;
 }





